.app {
    background-color: lightgrey;
}

.wrapper {
    margin-top: 30%;
    margin-bottom : 120%;
}

.warning1 {
    display: none;
}

.warning2 {
    display: none;
}

.warning3 {
    display: none;
}